body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid #ddd;
}

